
auto {{ item.device }}
{% if item.bootproto == 'static' or item.bootproto == 'dhcp' %}
iface {{ item.device }} inet {{ item.bootproto }}
{% if item.address is defined %}
	address {{ item.address }}
{% endif %}
{% if item.netmask is defined %}
	netmask {{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
	gateway {{ item.gateway }}
{% endif %}
{% if item.bond_mode is defined %}        
	bond-mode {{ item.bond_mode }}
	bond-miimon {{ item.bond_miimon|default(100) }}
{% endif %}
{% if item.bond_slaves is defined %}
	bond-slaves {{ item.bond_slaves|join(' ') }}
{% endif %}
{% if item.route is defined %}
{% for i in item.route %}
	up ip route add {{ i.network }}/{{ i.netmask }} via {{ i.gateway }} dev {{ item.device }}
{% endfor %}
{% endif %}
{% endif %}

