
auto {{ item.device }}
iface {{ item.device }} inet {% if item.bootproto is defined %}{{ item.bootproto }}{% elif item.cidr is defined or item.address is defined %}static{% else %}dhcp{% endif %}

{% if item.cidr is defined %}
    address   {{ item.cidr | ipaddr('address') }}
    network   {{ item.cidr | ipaddr('network') }}
    netmask   {{ item.cidr | ipaddr('netmask') }}
    broadcast {{ item.cidr | ipaddr('broadcast') }}
{% elif item.address is defined and item.netmask is defined %}
{% if item.address is defined %}
    address   {{ item.address }}
{% endif %}
{% if item.netmask is defined %}
    netmask   {{ item.netmask }}
{% endif %}
{% if item.network is defined %}
    network   {{ item.network }}
{% endif %}
{% if item.broadcast is defined %}
    broadcast {{ item.broadcast }}
{% endif %}
{% endif %}
{% if item.gateway is defined %}
    gateway   {{ item.gateway }}
{% elif item.cidr is defined %}
    gateway   {{ item.cidr | ipaddr('1') | ipaddr('address') }}
{% endif %}
{% if item.bond_mode is defined and item.bond_slaves is defined %}
{% if item.bond_mode is defined %}
    bond-mode              {{ item.bond_mode }}
    bond-miimon            {{ item.bond_miimon|default(100) }}
    bond-lacp-rate         {{ item.bond_lacp_rate | default('slow') }}
    bond-xmit-hash-policy  {{ item.bond_xmit_hash_policy | default('layer3+4') }}
{% endif %}
{% if item.bond_slaves is defined %}
    bond-slaves             {{ item.bond_slaves|join(' ') }}
{% endif %}
{% endif %}
{% if item.hwaddress is defined %}
	hwaddress ether        {{ item.hwaddress }}
{% endif %}
{% if item.dns_nameservers is defined %}
    dns-nameservers        {{ item.dns_nameservers|join(' ') }}
{% endif %}
{% if item.dns_search is defined %}
    dns-search             {{ item.dns-search }}
{% endif %}
{% if item.dns_domain is defined %}
    dns-domain             {{ item.dns-domain }}
{% endif %}
{% if item.route is defined %}
{% for i in item.route %}
    up ip route add {{ i.network }}/{{ i.netmask }} via {{ i.gateway }} dev {{ item.device }}
{% endfor %}
{% endif %}

