
{% if item.bootproto != 'dhcp' %}
DEVICE={{ item.device }}
USERCTL=no
BOOTPROTO=static
BONDING_MASTER=yes
TYPE=Bond
DEFROUTE={{ item.defroute | default("yes")| bool | ternary("yes", "no")  }}
{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}
{% if item.address is defined %}
IPADDR={{ item.address }}
{% endif %}
ONBOOT={{ item.onboot | default("yes") | bool | ternary("yes", "no") }}
{% if item.netmask is defined %}
NETMASK={{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}
{% include "RedHat_bond_options.j2" %}
{% endif %}
{% if item.dns_nameservers is defined %}
{% for dns_nameserver in item.dns_nameservers %}
DNS{{ loop.index }}={{ dns_nameserver }}
{% endfor %}
{% endif %}

{% if item.bootproto == 'dhcp' %}
DEVICE={{ item.device }}
{% include "RedHat_bond_options.j2" %}
USERCTL=no
ONBOOT={{ item.onboot | default("yes") | bool | ternary("yes", "no") }}
BOOTPROTO=dhcp
TYPE=Bond
{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}
{% endif %}

{% if item.nm_controlled is defined %}
NM_CONTROLLED={{ item.nm_controlled }}
{% endif %}

{% if item.defroute is defined %}
DEFROUTE={{ item.defroute }}
{% endif %}

{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}

{% if item.bonding_master is defined %}
BONDING_MASTER={{ item.bonding_master }}
{% endif %}

{% if item.bridge is defined %}
BRIDGE={{ item.bridge }}
{% endif %}

