
auto {{ item.device }}
iface {{ item.device }} inet {% if item.bootproto is defined %}{{ item.bootproto }}{% elif item.cidr is defined or item.address is defined %}static{% else %}dhcp{% endif %}

{% include 'Debian_ipv4_config.j2' %}
{% include 'Debian_resolvconf.j2' %}

{% if item.bond_mode is defined and item.bond_slaves is defined %}
{% if item.bond_mode is defined %}
    bond-mode              {{ item.bond_mode }}
    bond-miimon            {{ item.bond_miimon|default(100) }}
    bond-lacp-rate         {{ item.bond_lacp_rate | default('slow') }}
    bond-xmit-hash-policy  {{ item.bond_xmit_hash_policy | default('layer3+4') }}
{% endif %}
{% if item.bond_slaves is defined %}
    bond-slaves             {{ item.bond_slaves|join(' ') }}
{% endif %}
{% endif %}

{% if item.hwaddress is defined %}
	hwaddress ether        {{ item.hwaddress }}
{% endif %}

{% if item.route is defined %}
{% for i in item.route %}
    up ip route add {{ i.network }}/{{ i.netmask }} via {{ i.gateway }} dev {{ item.device }}
{% endfor %}
{% endif %}

{% if item.ipv6_address is defined %}
iface {{ item.device }} inet6 static
    address   {{ item.ipv6_address | ipaddr('address') }} 
    netmask   {{ item.ipv6_address | ipaddr('prefix') }}
{% if item.ipv6_gateway is defined %}
    gateway   {{ item.ipv6_gateway }}
{% else %}
    gateway   {{ item.ipv6_address | ipaddr('1') | ipaddr('address') }}
{% endif %}
{% endif %}

