#jinja2: lstrip_blocks: "True", trim_blocks: "True"
NAME={{ item.name | default(item.device) }}
DEVICE={{ item.device }}
TYPE={{ item.type | default("Ethernet") }}
{% if item.bootproto is defined and item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% else %}
BOOTPROTO={{ item.bootproto|default("none") }}
    {% if item.address is defined %}
IPADDR={{ item.address }}
    {% endif -%}

    {% if item.netmask is defined %}
NETMASK={{ item.netmask }}
    {% endif -%}

    {% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
    {% endif -%}
{% endif -%}

{% if item.hwaddress is defined %}
HWADDR={{ item.hwaddress }}
{% endif -%}

{% if item.vlan is defined and item.vlan | bool %}
{% include "RedHat_vlan_options.j2" %}
{% endif -%}

{% if item.bridge is defined %}
BRIDGE={{ item.bridge }}
{% endif -%}

{% if item.bond_master is defined %}
MASTER={{ item.bond_master }}
SLAVE=yes
{% endif -%}

{% include "RedHat_ipv6_options.j2" -%}

{% include "RedHat_generic_options.j2" %}
