#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
{% for i in item.route %}
    {% if i is mapping %}
ADDRESS{{ loop.index - 1 }}={{ i.network }}
NETMASK{{ loop.index - 1 }}={{ i.netmask }}
        {% if i.gateway is defined %}
GATEWAY{{ loop.index - 1 }}={{ i.gateway }}
        {% endif %}
    {% else %}
{{ i }}
    {% endif %}
{% endfor %}
